<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>

    <!-- HEADER with Image -->
 <a href="{{ site.baseurl }}/">
    <header class="hero">
        <img src="{{ site.baseurl }}/assets/img/header.png" alt="ICAI Healthcare Banner">
    </header>
 </a>

    <!-- NAVIGATION BAR -->
    <nav class="navbar">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/information">Information</a></li>
            <li><a href="{{ site.baseurl }}/location">Location</a></li>            
            
            <li class ="dropdown">
                <a href="{{ site.baseurl }}/program" class="dropbtn">Program </a>
                <ul class = "dropdown-content">
                    <li><a href="{{ site.baseurl }}/speakers">Speakers</a></li>
                </ul>
            </li>
            <li><a href="{{ site.baseurl }}/online-course">Online Course</a></li>
        </ul>
    </nav>

    <!-- MAIN CONTENT -->
    <main>
        {{ content }}
    </main>

    <!-- FOOTER -->
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} ICAI Healthcare. All rights reserved.</p>
    </footer>

</body>
</html>

